
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

{{#if oneCat.category}}

       <!-- Banner Section Begin -->{{#if men}}
    <section class="banner set-bg" data-setbg="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F455de77a-30c8-11ec-afd6-aa3ee2eb8a34.jpg?crop=5648%2C3177%2C0%2C0&resize=1500">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><b>The Sidemen Merches</b></span>
                                <h1 style="color:orange; text-shadow: 0 0 3px black, 0 0 5px #000000">Winter Hoodies</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><b>The Spongebob Collections</b></span>
                                <h1 style="color:orange; text-shadow: 0 0 3px black, 0 0 5px black">Spongebob Bangers</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span><b>The Winter Collections</b></span>
                                <h1 style="color:orange; text-shadow: 0 0 3px #000000, 0 0 5px #000000">Sidemen Jackets</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Categories Section Begin -->
        <section class="categories">
            <div class="container-fluid">
                <div class="row">
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="https://pbs.twimg.com/media/FeJYdV7WIAEPDwT.jpg:large">
                                <div class="categories__text">
                                    <h4>Product Offers</h4>
                                    <p>Exclusive 50%</p>
                                    <a href="#">Discount</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="http://cdn.shopify.com/s/files/1/0610/4609/6059/products/NitroBlackHoodieModel_1200x1200.png?v=1664799427">
                                <div class="categories__text">
                                    <h4>Category Offers</h4>
                                    <p>Solid 25% off</p>
                                    <a href="#">Discount</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
     <div class="container-fluid mb-5" style="background-image: url(https://pbs.twimg.com/media/FYR4CCdX0AEiBB0.jpg:large);">
    <video class=" container" autoplay loop muted >
  <source src="/images/varsity.mp4" type="video/mp4" />
</video></div>
    {{else if women}}
     <section class="banner set-bg" data-setbg="https://cdn.shopify.com/s/files/1/0610/4609/6059/products/purple2.png?v=1653046520">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Sidemen Merches</span>
                                <h1 style="color:black; text-shadow: 0 0 3px white, 0 0 5px white">Winter Hoodies</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Spongebob Collections</span>
                                <h1 style="color:black; text-shadow: 0 0 3px white, 0 0 5px white">Spongebob Bangers</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Winter Collections</span>
                                <h1 style="color:black; text-shadow: 0 0 3px white, 0 0 5px white">Sidemen Jackets</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Categories Section Begin -->
        <section class="categories">
            <div class="container-fluid">
                <div class="row">
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="https://pbs.twimg.com/media/EpC63_jW4AAdwzS.jpg">
                                <div class="categories__text">
                                    <h4>Winter Offers </h4>
                                    <p>Instance 20-50%off</p>
                                    <a href="#">Discount</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="https://images.squarespace-cdn.com/content/v1/5ca8d4c111f784762cb8e875/1607002114667-V9J3ZPQL89QMSHHHYITL/SDMN_080.jpg?format=1500w">
                                <div class="categories__text">
                                    <h4>Category Offer</h4>
                                    <p>25-75% off</p>
                                    <a href="#">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    {{else if kid}}
     <section class="banner set-bg" data-setbg="https://pbs.twimg.com/media/ElcTJOIXIAIKHW0?format=jpg&name=large">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Sidemen Merches</span>
                                <h1>Winter Hoodies</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Spongebob Collections</span>
                                <h1>Spongebob Bangers</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Winter Collections</span>
                                <h1>Sidemen Jackets</h1>
                                <a href="/">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Categories Section Begin -->
        <section class="categories">
            <div class="container-fluid">
                <div class="row">
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="https://pbs.twimg.com/media/EnC0cncXMAA-f95.jpg">
                                <div class="categories__text">
                                    <h4>Chillens</h4>
                                    <p>Use Coupen Code 50% off</p>
                                    <a href="#">Discount</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="https://cdn.shopify.com/s/files/1/1078/8124/files/Kids_overlap_2_1024x1024.png?v=1627636855">
                                <div class="categories__text">
                                    <h4>Product Offer</h4>
                                    <p>Flat 50% off</p>
                                    <a href="#">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    {{/if}}
{{/if}}
<section class="product spad">
       <div class="container">
       
     
        {{!-- <h2>{{oneCat.category}}</h2> --}}
      
        <div class="row property__gallery">
           
            {{#each products}}
            
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg=""><img src="/assets/product-images/{{this._id}}1.jpg" alt="not show">
                         {{!-- <div class="label new">New</div>  --}}
                         {{#if catOfferPercentage}}
                        <div class="label new">{{this.catOfferPercentage}}% off</div>
                        {{/if}}
                        {{#if productOfferPercentage}}
                        <p class="label new">{{productOfferPercentage}}<small>%off</small></p>
                        {{/if}} 

                        <ul class="product__hover">
                            <li><a href="/assets/product-images/{{this._id}}1.jpg" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                            {{#if this.wishlisted }}
								<li><a onclick="addToWishlist('{{this._id}}')" class="social-info btn_prod">
									<span id="{{this._id}}wishList" class="icon_heart_alt wish"></span>
								</a></li> {{else}}
								<li><a onclick="addToWishlist('{{this._id}}')" class="social-info btn_prod">
									<span id="{{this._id}}wishList" class="icon_heart_alt "></span>
								</a></li>
								{{/if}}
                            <li><a><button onclick="addToCart('{{this._id}}')"><span
                                            class="icon_bag_alt"></span></button></a></li>
                        </ul>
                        </a>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/product-view/{{this._id}}">{{this.Name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                         {{!-- <div class="product__price">₹{{this.price}}</div> --}}
                         <div class="product__price">{{#if actualPrice}}₹ {{this.price}}<span> <del>₹
                                    {{this.actualPrice}}</del></span>{{else}}₹ {{this.price}}{{/if}}</div>
                    
                        {{#if fewStock}}
                        <p class="text-danger">Only Few Available!</p>
                        {{/if}}
                        {{#if noStock}}
                        <p class="text-danger">Out Of Stock!</p>
                        {{/if}} 

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>


<script src="/public/javascripts/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

 {{!-- <script>
   // function addToCart(proId) {
   //     console.log("entered")
    //    $.ajax({
    //        url: '/add-to-cart/' + proId,
    //        method: 'get',
    //        success: (response) => {
     //           console.log(response);

   //             if (response.status) {
          //          let count = $('#cart-Count').html()
           //         count = parseInt(count) + 1
           //         swal("ADD TO CART", {
             //           icon: "success",
                    });
             //       $('#cart-Count').html(count)


                }

            }
        })
    }

</script>  --}}

<script>
    function addToCart(proId) {
        $.ajax({
            url: "/add-to-cart/" + proId,
            method: "get",
            success: (response) => {
                if (response.status == "add") {
                    let count = $("#cart-count").html();
                    count = parseInt(count) + 1;
                    $("#cart-count").html(count);
                    swal({
                        icon: "success",
                        title: "Item added to Cart",
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(()=>{
                location.reload()

                    })
                } else if (response.status == "noStock") {
                    swal({
                        icon: "error",
                        title: "Oops..!",
                        text: "Out Of Stock!",
                        showConfirmButton: false,
                        timer: 1000,
                    });
                } else if (response.status == "fewStock") {
                    swal({
                        icon: "error",
                        title: "Oops..!",
                        text: "Out Of Stock!",
                        showConfirmButton: false,
                        timer: 1000,
                    });
                } else if (response.status == "maxLimitStock") {
                    swal({
                        icon: "warning",
                        title: "Oops..!",
                        text: "Limit Is Reached!",
                        showConfirmButton: false,
                        timer: 1000,
                    });
                } else {
                    location.href = "/login";
                }
            },
        });
    }
</script>

<script>
	function addToWishlist(proId){
    let id = proId+'wishList'
    var btn = document.getElementById(id)
    swal({
                        icon: "success",
                        title: "Item added to WishList",
                        timer: 2000,
                    }).then(()=>{
                location.reload()
                })
    $.ajax({
        url: '/add-to-wishlist/'+proId,
        method: 'get',
        success:(response)=>{
            if(response.status){
                console.log(response.wishlist)
                if(response.wishlist){
                    btn.classList.add('wish')
                    swal({
                        icon: "success",
                        title: "Item added to WishList",
                        showConfirmButton: false,
                        timer: 1000,
                    }).then(()=>{
                location.reload()
                })
                }else{
                    btn.classList.remove('wish')
                }
            }
      }
    })
}
</script>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.slicknav.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.nicescroll.min.js"></script>
<script src="/assets/js/main.js"></script>

