<style>
    .error {
        color: red;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <div class="rounded mt-5" style="width: 85%; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(239, 239, 239, 0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
                    <div class="d-flex">

                        <div class="">

                            <img src="/assets/product-images/{{users._id}}.jpg" {{!--
                                {{!-- /assets/product-images/{{this._id}}.jpg --}} style="    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin-left: 29px;
    margin-top: 16px;
};" alt="" > 
                        </div>
                        <div class="mx-5 mt-5">
                            <h2><b>HELLO,<br />
                                    {{person.Name}}</b></h2>
                        </div>

                    </div>
                    <div style="margin-top: 33px;">
                        <div>
                            <p href="" class="btn btn-dark w-75" onclick="changeProfile()"><b>CHANGE PROFILE</b></p>
                            <div class="changeProfile text-center border border-3 rounded w-75 ms-5"
                                style="display: none; margin: 58px;    width: 77%!important;">
                                <form action="/edit-profile/{{users._id}}" method="post" enctype="multipart/form-data">
                                    <input type="file" class="text-center border" name="profileImg" placeholder="imgae"
                                        required >
                                    <input type="text" class="mt-3 text-center border" name="Name"
                                        value="{{users.Name}}" style="height: 40px;border-radius: 20px;"
                                        required /><br /><br >
                                    <input type="submit" value="UPDATE" class="btn btn-dark text-bold" />
                                </form><br >
                            </div><br >
                        </div>
                        <div>
                            <p href="" class="btn btn-dark w-75" onclick="showPass()"><b>CHANGE PASSWORD</b></p>

                            <div class="password text-center border border-3 rounded w-75 ms-5"
                                style="display: none; margin: 58px;    width: 77%!important;">
                                <form action="/change-password" method="post" id="submit-form">
                                    {{#if passErr}}
                                    <p style="color: red;">{{passErr}}</p>
                                    {{/if}}
                                    <input type="password" name="old" class="mt-3 text-center border"
                                        style="height: 40px;border-radius: 20px;" placeholder="Old password"
                                        required ><br >
                                    <input type="password" name="new" class="mt-3 text-center border"
                                        style="height: 40px;border-radius: 20px;" placeholder="New password"
                                        required ><br >
                                    <input type="password" name="confirm" class="mt-3 text-center border"
                                        style="height: 40px;border-radius: 20px;" placeholder="Confirm password"
                                        required ><br /><br >
                                    <input type="submit" class="btn btn-dark" value="SUBMIT" >
                                </form><br >
                            </div>
                        </div>
                        <a class="btn btn-dark w-75 mb-3" href="/myorder"><b>MY ORDERS</b></a>

                    </div>
                </div><br /><br >
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="rounded mt-5" style="width: 80%; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
                    <div style="padding-top: 30px;">
                        <h5 class="ms-3" style="padding-left: 50px;"><B>PERSONAL
                                INFORMATIONS</B></h5>
                        <hr />
                        <p class="ms-4" style="padding-left: 50px;">Name: {{users.Name}}</p>
                        <p class="ms-4" style="padding-left: 50px;">Email:
                            {{users.Email}}</p>
                        <p class="ms-4" style="padding-left: 50px;">Phone:
                            {{users.phone}}</p>
                        <h4 class="ms-4" style="padding-left: 50px;">wallet Amount: {{person.wallet}}</h5><br>
                        {{!-- Wallet ComeHere  --}}
                    </div>
                    <div style="padding-left: 80px;">
                             <a class="btn btn-dark w-75 mb-3" href="/walletHistory">wallet History</a>

                        </div>

                    <div>
                        <p href="" class="btn btn-dark  w-75" style="margin: 58px;    width: 77%!important;"
                            onclick="showAddress()"><b>ADD ADDRESS</b></p>

                        <div class="address text-center border border-3"
                            style="display: none; margin: 58px;    width: 77%!important; border-radius:15px">
                            <form action="/useraddress" method="post" id="submit-address" class="form">

                                <input type="text" id="ID" name="id" value="" hidden >
                                <input class="mt-3 text-center border" style="height: 40px;border-radius: 20px;"
                                    type="text" name="homeaddress" id="homeaddress" placeholder="House Name" required >
                                <input class="mt-3 text-center border" style="height: 40px;border-radius: 20px;"
                                    type="text" name="fullAddress" id="fullAddress" placeholder="Street Address "
                                    required >
                                <input class="mt-3 mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                    type="text" name="town" id="town" placeholder=" Town/city" required >
                                <input class="mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                    type="text" name="country" id="country" placeholder="Country/state" required >
                                <input class="mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                    type="number" name="pincode" id="pincode" placeholder="PIN Code" required >
                                <input class="mt-3 text-center border" style="height: 40px;border-radius: 20px;"
                                    type="number" name="phone" id="phone" placeholder="Phone Number"
                                    required /><br /><br >
                                <input type="submit" value="SUBMIT" class="btn btn-dark w-75" >

                            </form><br>
                        </div>
                    </div>

                    
                    <div class="" style="text-align: center; padding-left: 70px; border-color:black;">
                        {{#each add}}
                        <div class=" mt-4 w-75 ms-5 border border-dark" style="border-radius: 10px; ">
                            <span href="" onclick="editAddress()" class="text-dark me-3"
                                style="margin-left: 200px;"><i class="fa fa-pencil-square"></i></span>

                            <button onclick="deleteAddress('{{this.id}}')" class="text-danger"><i class="fa fa-trash"></i></button>



                            <h6 class="ms-5 pt-2">{{this.homeaddress}}</h6>
                            <h6 class="ms-5">{{this.fullAddress}}</h6>
                            <h6 class="ms-5 pb-2">{{this.town}}</h6>
                            <h6 class="ms-5 pb-2">{{this.country}}</h6>
                            <h6 class="ms-5 pb-2">{{this.pincode}}</h6>
                            <h6 class="ms-5 pb-2">{{this.phone}}</h6>
                            <div class="changeAddress text-center border border-3" style="display: none;">
                                <form action="/edit-user-address/{{this._id}}" method="post">
                                    <input class="mt-3 text-center border" style="height: 40px;border-radius: 20px;"
                                        type="text" name="houseName" value="{{this.homeaddress}}">
                                    <input class="mt-3 text-center border" style="height: 40px;border-radius: 20px;"
                                        type="text" name="address" value="{{this.fullAddress}}">
                                    <input class=" mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                        type="text" name="town" value="{{this.town}}">
                                    <input class=" mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                        type="text" name="country" value="{{this.country}}">
                                    <input class=" mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                        type="number" name="pincode" value="{{this.pincode}}">
                                    <input class=" mb-3 text-center border" style="height: 40px;border-radius: 20px;"
                                        type="number" name="phone" value="{{this.phone}}">
                                    <input type="submit" class="btn btn-dark w-75">
                                </form><br>
                            </div>
                        </div>
                        {{/each}}

                        {{!-- address --}}
                {{!-- {{#each add}}
                <div class="card my-4">
                    <div class="d-flex justify-content-between align-items-center py-3 px-4 border border-2 text-bg-light">
                        <a data-bs-toggle="" onclick="toggleAddress('{{this.id}}')" href="#collapseAddress{{this._id}}" aria-expanded="false" style="color: black"><strong>Address {{inc @index}}</strong></a>
                        <div class="d-flex gap-3 align-items-center">
                            <a href="#staticBackdrop" data-bs-toggle="modal" onclick="editAddress('{{this._id}}')"><i class="fa-solid fa-lg fa-pen-to-square" style="color:green"></i></a>
                            <i class="fa-solid fa-lg fa-trash-can delete-icon" style="color:red" onclick="deleteAddress('{{this._id}}')"></i>
                        </div>
                    </div>
                    <div class="d-none"  id="collapseAddress{{this.id}}" >
                    <div class="card-body px-4" id="address{{this.id}}" >
                        <p class="m-0" style="font-weight: bold">{{this.firstName}} {{this.lastName}}</p>
                        <p class="m-0">Email: {{this.email}}</p>
                        <p class="m-0">Phone: {{this.phone}}</p>
                        <p class="m-0">Address: {{this.addressLine_1}}</p>
                        <p class="m-0">{{this.addressLine_2}}</p>
                        <p class="m-0"> {{this.town}}, {{this.country}}</p>
                        <p class="m-0">Pin: {{this.postcode}}</p>
                    </div>
                    </div>
                </div>
                {{/each}} --}}

                    </div><br>
                </div><br>
            </div>
        </div>
    </div>
</section>


<script>
    let uniqueId = new Date()
    document.getElementById('ID').value = uniqueId
</script>

<script>
    let profile = document.querySelector('.changeProfile')
    isPro = true
    function changeProfile() {
        if (isPro) {
            profile.style.display = "block"
            isPro = false
        } else {
            profile.style.display = "none"
            isPro = true
        }
    }

    let edit = document.querySelector('.changeAddress')
    isEdit = true
    function editAddress() {
        if (isEdit) {
            edit.style.display = "block"
            isEdit = false
        } else {
            edit.style.display = "none"
            isEdit = true
        }
    }

    let usersSection = document.querySelector('.address')
    isShow = true
    function showAddress() {
        if (isShow) {
            usersSection.style.display = "block"
            isShow = false
        } else {
            usersSection.style.display = "none"
            isShow = true
        }
    }

    let changePass = document.querySelector('.password')
    isChange = true
    function showPass() {
        console.log(isChange)
        if (isChange) {
            changePass.style.display = "block"
            isChange = false
        } else {
            changePass.style.display = "none"
            isChange = true
        }
    }
</script>



<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>


<script>

    jQuery('#submit-form').validate({
        rules: {
            old: {
                minlength: 3,
            },
            new: {
                minlength: 3,
            },
            confirm: {
                minlength: 3,

            }
        }
    });
</script>
<script>
    jQuery('#submit-address').validate({
        rules: {
            phone: {
                minlength: 10,
                maxlength: 10,
            },
            pincode: {
                minlength: 6,
                maxlength: 6,

            }
        }
    });
</script>



{{!-- Delete Address --}}
<script>
    function deleteAddress(addressId){
        alert('Are You Sure you want to delete the Addrres?')
        $.ajax({ 
            url: '/deleteAdress',
            data: {
                addressId: addressId,
            },
            method: 'DELETE',
            success:(response)=>{
                alert('Address deleted Succesfully!')
                location.reload()
            }
        })   

    }
</script>